*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 1.25em;
}

body {
    background-color: rgba(80, 77, 77, 0.514);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    background-color: rgba(169, 169, 169, 0.514);
    text-align: center;
}

footer{
    background-color: rgba(169, 169, 169, 0.514);
    padding:10px 50px;
    font-size: 0.75rem;
}
.About{
    background-color: lightgray;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
}
h1{
    font-family: sans-serif;
    font-style: italic;
    text-decoration: dashed;
}
h2{
    text-align: center;
    font-size: 2rem;
    font-family: sans-serif;
}
p{
    font-size: 1.25rem;
    line-height: 2rem;
    margin-top: 20px;
    text-indent: 10px; 
}
.avatar{
    display: block;
    margin: 0 auto;
}
.Articles{
    padding-left: 50px;
}
.content{
    padding: 20px 50px;
}
q{
    margin-top: 20px;
}

a{
    color:crimson;
}

.Articles a {
    color: black;
}

a:link{
    color: red;
}

a:visited{
    color: orange;
}

a:focus{
    color: blue;
}

a:hover{
    color: green;
}

a:active{
    color: blueviolet;
}

.termins::after{
    content: "*new";
    border: 1px solid;
}

.st:lang(ru){
    font-size: 1.5em;
}

:lang(en){
    font-style: italic;
}
a#tron:hover{
    color: red;
}

#chto:hover{
    color: aqua;
}

#tron:nth-child(1){
    background-color: black;
}

p::first-line{
    letter-spacing: 2px;
}

main p:nth-child(3){
    background-color: red;
}

footer img:nth-child(1){
    border: 3px solid blue;
}

.ogurec + .pomidor {
    margin:auto 100px;
}

.tablo{
    border: 2px red solid;
    border-collapse: collapse;

}

.tablo td, .tablo th{
    border-bottom: red solid;
    padding: 10px 20px;
}

.tablo td:nth-child(3){
    color: blue;
    font-weight: bold;
}

.tablo tr:nth-child(odd){
    background-color: aliceblue;
}

.tablo tr :nth-child(odd) td{
    border-bottom: 1px black;
}

#form {
    width: 300px;
    margin: 20px auto;
}

#form input[type = 'submit']{
    background-color: aqua;
    border: 1px solid darkblue;
    border-radius: 5px;
}

#form input[type = 'submit']:hover{
    background-color: rgba(0, 255, 255, 0.422);
}

#form input[type = 'text'],
#form input[type = 'password']{
    background-color: blanchedalmond;
    border: none;
    border-bottom: 1px solid darkblue;
    padding: 7px;
}
#form input[type = 'text']:hover,
#form input[type = 'password']:hover{
    background-color: rgba(255, 235, 205, 0.526);
}